.navbar
{
    background-color: black;
    opacity: 0.8;
    height: 50px;
}

.link
{
    position: relative;
    top: 15px;
    background-color: gold;
    margin: 20%;
    padding: 7px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-size: 25px;
}

.link:hover
{
    background-color: red;
}